* {
  margin: 0;
  padding: 0;
}

body,
html {
  overflow: hidden;
}

.slider__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: 100vh;
  background-color: #25282a;
  gap: 1rem;
}

.slider__slide-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80vw;
  height: 45vw;
  overflow: hidden;
}

.slider__container input {
  display: none;
}

.slider__slides-band {
  display: flex;
  transform: translateX(0);
  transition: 0.5s ease;
}

.slider__slides-band_slide img {
  width: 80vw;
  height: 45vw;
}

.slider__bottom-panel {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  height: 4vw;
  gap: 2rem;
}

.slider__slide-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
}

.slider__slide-text p {
  visibility: hidden;
  width: 100%;
  max-height: 0;
  opacity: 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 1.5vw;
  color: #fefefe;
  transform: translateX(100%);
  transition: visibility 0s, max-height 0s ease, opacity 0.8s ease,
    transform 0.5s ease;
}

.slider__remote {
  display: flex;
  justify-content: flex-end;
  height: 4vw;
  margin-right: -0.6rem;
}

.slider__remote-pin {
  width: 1rem;
  height: 1rem;
  border: 0.2rem #71abfe solid;
  background: #71abfe;
  border-radius: 50%;
  margin: 0 0.5rem;
  cursor: pointer;
}

.slider__remote-pin::before {
  content: '';
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  margin: -0.7rem;
}

.slider__remote-pin:hover {
  border-color: #fefefe;
  background: #fefefe;
}

#radio1:checked ~ .slider__bottom-panel .slider__remote #label1:hover,
#radio2:checked ~ .slider__bottom-panel .slider__remote #label2:hover,
#radio3:checked ~ .slider__bottom-panel .slider__remote #label3:hover,
#radio4:checked ~ .slider__bottom-panel .slider__remote #label4:hover,
#radio5:checked ~ .slider__bottom-panel .slider__remote #label5:hover {
  border-color: #fefefe;
  background: transparent;
}

#radio1:checked ~ .slider__bottom-panel .slider__remote #label1,
#radio2:checked ~ .slider__bottom-panel .slider__remote #label2,
#radio3:checked ~ .slider__bottom-panel .slider__remote #label3,
#radio4:checked ~ .slider__bottom-panel .slider__remote #label4,
#radio5:checked ~ .slider__bottom-panel .slider__remote #label5 {
  border-color: #71abfe;
  background: transparent;
}

#radio1:checked ~ .slider__bottom-panel .slider__slide-text #text1,
#radio2:checked ~ .slider__bottom-panel .slider__slide-text #text2,
#radio3:checked ~ .slider__bottom-panel .slider__slide-text #text3,
#radio4:checked ~ .slider__bottom-panel .slider__slide-text #text4,
#radio5:checked ~ .slider__bottom-panel .slider__slide-text #text5 {
  visibility: visible;
  max-height: 6vw;
  opacity: 1;
  transform: translateX(0);
}

#radio1:checked ~ .slider__slide-container .slider__slides-band {
  transform: translateX(0);
}
#radio2:checked ~ .slider__slide-container .slider__slides-band {
  transform: translateX(-80vw);
}
#radio3:checked ~ .slider__slide-container .slider__slides-band {
  transform: translateX(-160vw);
}
#radio4:checked ~ .slider__slide-container .slider__slides-band {
  transform: translateX(-240vw);
}
#radio5:checked ~ .slider__slide-container .slider__slides-band {
  transform: translateX(-320vw);
}

@media screen and (max-width: 1023px) {
  .slider__slide-container {
    justify-content: flex-start;
    align-items: center;
  }

  .slider__bottom-panel {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 6rem;
    gap: 1rem;
  }

  .slider__slide-text {
    justify-content: flex-start;
    align-items: flex-start;
    height: 4rem;
    width: 100%;
  }

  .slider__slide-text p {
    font-size: 1.1rem;
  }

  .slider__remote {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 1.4rem;
  }

  .slider__remote-pin {
    width: 0.6rem;
    height: 0.6rem;
    margin: 0 0.6rem;
    cursor: pointer;
  }

  .slider__remote-pin::before {
    width: 2rem;
    height: 2rem;
    margin: -0.7rem;
  }
}
